body {
    margin: 0;
    width: auto;
    height: 100vh;
    background-color: white;
    color: var(--white-fonts);
    font-size: 1rem;
}


.container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100vh;
    min-width: 100%;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #343a40;
}

.toolbar {
    display: flex;
    flex-direction: row;
    direction: rtl;
    margin: 0.3rem 0.3rem 0rem 0rem;
}

.terminal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    white-space: pre-wrap; 
    font-size: 1rem;
    font-family: ubuntu;
    color: #F5F5F5;
}

.response {
    overflow: auto;
    max-height: calc(100vh - 6vh);
}

.command {
    display: flex;
    flex-direction: row;
    height: 3vh;
    margin-bottom: 0.5rem;
}

.command .cursor {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0.5rem 0.5rem 0.2rem;
}

.command input {
    background-color: inherit;
    color: #F5F5F5;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    border: none;
    outline: none;
}
